<div class="card-car">
    <div class="card-body">
        <img src="public/images/fi_car.png" alt="img-car" class="car-image">
        <p>Nama/Tipe Mobil</p>
        <h6 class="fw-bold">Rp 430.000 / hari</h6>
        <p class="card-text fw-light">
            <img src="public/images/fi_key.png" alt="icon-key">Start rent - Finish rent
        </p>
        <p class="card-text fw-light">
            <img src="public/images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
        </p>
        <div class="row">
            <div class="col">
                <div class="d-grid">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img src="public/images/fi_trash-2.png" alt="icon-trash" >Delete
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="d-grid">
                    <button type="button" class="btn btn-success">
                        <img src="public/images/fi_edit.png" alt="icon-edit">Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
