<h6 class="fw-bold" style="margin-top: 30px"><img src="public/images/list.png" alt=""> List Order</h6>
<table id="datatable" class="table mt-3 table-borderless" style="border-collapse: separate; border-spacing: 0 2px;">
    <tr style="background-color: #CFD4ED">
        <th class="text-center">No</th>
        <th>User Email <img style="float: right" class="content" src="public/images/fi_sort.png" alt=""></th>
        <th>Car <img style="float: right" class="content" src="public/images/fi_sort.png" alt=""></th>
        <th>Start Rent <img style="float: right" class="content" src="public/images/fi_sort.png" alt=""></th>
        <th>Finish Rent <img style="float: right" class="content" src="public/images/fi_sort.png" alt=""></th>
        <th>Price <img style="float: right" class="content" src="public/images/fi_sort.png" alt=""></th>
        <th>Status <img style="float: right" class="content" src="public/images/fi_sort.png" alt=""></th>
    </tr>
    <% for (var i = 1; i <= 10;  i++ ) { %>
        <tr style="background-color: white">
            <td class="text-center"><%=i%>></td>
            <td>User Email</td>
            <td>Car</td>
            <td>Start Rent</td>
            <td>Finish Rent</td>
            <td>Price</td>
            <td>Status</td>
        </tr>
    <% } %>
</table>