<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 345px">
        <div class="modal-content mx-auto">
            <div class="modal-body mx-auto" style="width: 350px; height: 333px">
                <img src="public/images/img-BeepBeep.png" class="rounded mx-auto d-block" alt="image">
                <h5 class="fw-bold text-center" style="margin-top: 24px; margin-bottom: 16px">Menghapus Data Mobil</h5>
                <p class="fw-light text-center">Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                <div class="row" style="margin-top: 16px;">
                    <div class="col">
                        <button type="button" class="btn fw-bold" style="float: right;color: white; width: 87px;height: 36px; background: #0D28A6; border-radius: 2px;">Ya</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn fw-bold" data-bs-dismiss="modal" style="color: #0D28A6;border: 1px solid #0D28A6; width: 87px;height: 36px; background: white; border-radius: 2px;">Tidak</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>