<div class="card mb-3" style="z-index: -1;">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-2 d-flex align-items-center">
                <label for="inputName" class="fw-light">Nama<label for="wajib" style="color: red">*</label></label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" placeholder="Placeholder" style="border-radius: 2px; border: 1px solid #D0D0D0;" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 d-flex align-items-center">
                <label for="inputName" class="fw-light">Harga<label for="wajib" style="color: red">*</label></label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" placeholder="Placeholder" style="border-radius: 2px; border: 1px solid #D0D0D0;" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 d-flex align-items-center">
                <label for="inputName" class="fw-light">Foto<label for="wajib" style="color: red">*</label></label>
            </div>
            <div class="col-5">
                <input type="file" class="form-control mb-1" placeholder="Placeholder" style="border-radius: 2px; border: 1px solid #D0D0D0;" />
                <small id="fileHelp" class="form-text text-muted fw-light" style="margin-left: 1px">File size max. 2 MB</small>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 d-flex align-items-center">
                <label for="inputName" class="fw-light">Start Rent</label>
            </div>
            <div class="col-5">
                <p class="fw-light">-</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 d-flex align-items-center">
                <label for="inputName" class="fw-light">Finish Rent</label>
            </div>
            <div class="col-5">
                <p class="fw-light">-</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 d-flex align-items-center">
                <label for="inputName" class="fw-light">Created At</label>
            </div>
            <div class="col-5">
                <p class="fw-light">-</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 d-flex align-items-center">
                <label for="inputName" class="fw-light">Updated At</label>
            </div>
            <div class="col-5">
                <p class="fw-light">-</p>
            </div>
        </div>
    </div>
</div>