<div class="row">
    <div class="col-1">
        <div class="d-inline">
            <p class="fw-light mb-1">Limit</p>
            <div class="drop col-lg-1 col-md-2 col-12">
                <select class="form-select" style="border-radius: 2px" aria-label="Default select example">
                    <option selected>10</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="d-inline">
            <p class="fw-light mb-1">Jump to Page</p>
            <div class="jtp">
                <select class="form-select d-inline m-0" style="border-radius: 2px 0 0 2px"
                        aria-label="Default select example">
                    <option selected>1</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <button type="button" class="btn d-inline pb-2 m-0"
                        style="background-color: #0D28A6; color: white; height: 34px; border-radius: 0 2px 2px 0; padding: 2px 10px">Go
                </button>
            </div>
        </div>
    </div>
    <div class="col justify-content-end" style="z-index: -1">
        <br>
        <div class="paging" style="border-radius: 2px">
            <nav aria-label="page navigation example">
                <ul class="pagination" style="border-radius: 2px">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">9</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>