<html>
<head>
    <%- include("partials/head"); %>
    <title>Binar Car Rental - Cars</title>
</head>
<body>
<div class="m-3">
    <nav style="--bs-breadcrumb-divider: '/'" aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item fw-bold">Cars</li>
            <li class="breadcrumb-item active fw-light" aria-current="page">List Cars</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col">
            <h3 class="fw-bold mt-4 mb-4">List Car</h3>
        </div>
        <div class="col">
            <a href="/new-car">
                <button type="button" class="btn btn-primary mt-4 mb-4 fw-bold"
                        style="background-color: #0d28a6; float: right">
                    <img src="public/images/fi_plus.png" alt="icon-plus"> Add New Car
                </button>
            </a>
        </div>
    </div>
    <div class="btn-group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary">All</button>
        <button type="button" class="btn btn-outline-primary">Small</button>
        <button type="button" class="btn btn-outline-primary">Medium</button>
        <button type="button" class="btn btn-outline-primary">Large</button>
    </div>
    <div class="row">
        <% for (var i = 1; i <= 9;  i++ ) { %>
            <div class="col-4">
                <%- include("partials/cardCar"); %>
            </div>
        <% } %>
    </div>
    <%- include("partials/modalDelete"); %>
</div>
</body>
</html>