<html>
<head>
    <%- include("partials/head"); %>
    <title>Binar Car Rental - Dashboard</title>
</head>
<body style="background-color: #E5E5E5">
<div class="m-3">
    <nav style="--bs-breadcrumb-divider: '/'" aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item fw-bold">Dashboard</li>
            <li class="breadcrumb-item active fw-light" aria-current="page">Dashboard</li>
        </ol>
    </nav>
    <h3 class="fw-bold mt-4 mb-4">Dashboard</h3>
    <%- include("partials/listOrder"); %>
    <%- include("partials/pagination"); %>
    <br>
    <%- include("partials/listCar"); %>
    <%- include("partials/pagination"); %>
</div>
</body>
</html>