<!--<%- body%>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head"); %>
</head>
<body>
<div class="container-fluid p-0">
    <!-- NAVBAR SECTION BEGIN -->
    <section class="navbar-section">
        <nav class="navbar navbar-expand-lg border-bottom ms-5">
            <div class="container-fluid">
                <div class="sidebar-toggler ps-5">
                    <a href="#"><img class="ms-5 me-5 collapseSidebar" src="public/images/Rectangular_Icon.svg"></a>
                    <button class="btn ms-5" id="toggleSidebar">
                        <img src="public/images/Menu_Icon.svg">
                    </button>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><img src="public/images/Menu_Icon.svg"
                                                                                  alt=""></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <form class="d-flex ms-5">
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="border: 1px solid #D0D0D0;">
                                <button class="btn border-3 me-3 fw-bold" style="border: 1px solid #0D28A6; color: #0D28A6"
                                        type="submit">Search
                                </button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a href="#"
                                   class="d-flex flex-row justify-content-center align-items-center link-dark text-decoration-none dropdown-toggle me-2"
                                   id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="public/images/User_Picture.jpg" width="32" height="32"
                                         class="rounded-circle me-2" style="object-fit:cover;">
                                    <p class="my-0 me-2">
                                        Unis
                                        Badri</p>
                                </a>
                                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser">
                                    <li><a class="dropdown-item" href="/">Log Out</a></li></ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>>
    <!-- NAVBAR SECTION END -->

    <!-- SIDEBAR SECTION BEGIN -->
    <section class="sidebar-section">
        <!-- Sidebar - Main Menu -->
        <div class="main-menu" style="z-index: 2;">
            <a href="#">
                <div class="box text-center d-flex justify-content-center align-items-center">
                    <img class="side-icon" src="public/images/Rectangle_Icon.svg">
                </div>
            </a>
            <a href="/home">
                <div class="box text-center py-2">
                    <img class="side-icon" src="public/images/Home_Icon.svg">
                    <div>Dashboard</div>
                </div>
            </a>
            <a href="/cars">
                <div class="box text-center py-2">
                    <img class="side-icon" src="public/images/Truck_Icon.svg">
                    <div>Cars</div>
                </div>
            </a>
        </div>

        <div class="collapseSidebar">
            <!-- Sidebar - Menu List -->
            <div class="menu-list pt-3 sidebar-second">
                <h4 class="text-secondary px-3 py-2">Dashboard</h4>
<!--                <a href="#">-->
<!--                    <div class="list-menu">-->
<!--                        <p class="m-0">Dashboard</p>-->
<!--                    </div>-->
<!--                </a>-->
                <a href="#">
                    <div class="list-menu">
                        <p class="m-0">Dashboard</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- SIDEBAR SECTION END -->

    <!-- CONTENT SECTION BEGIN -->
    <!-- BAGIAN ISI CONTENT DI MULAI DARI SINI -->
    <section class="content-section ps-5 pe-4">
        <div class="row">
            <div class="col-lg-0" id="show-col-lg-0">
                <div class="adding-space" >
                </div>
            </div>
            <div class="col-lg-12" id="show-col-lg-12">
                <%- body %>
            </div>
        </div>
    </section>
    <!-- BAGIAN ISI CONTENT BERAKHIR Di SINI -->
    <!-- CONTENT SECTION END -->
</div>

</body>
<!-- JQuery JS -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<!-- Bootstrap JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- FontAwesome JS -->
<script src="https://kit.fontawesome.com/7441451cf7.js" crossorigin="anonymous"></script>
<!-- Manual JS -->
<script src="public/javascripts/script.js"></script>
</html>