<html>
<head>
    <%- include("partials/head"); %>
    <title>Binar Car Rental - Login</title>
</head>
<body style="background-color: white !important;">
<div class="row g-0">
    <div class="col-8">
        <%- include("partials/authImage"); %>
    </div>
    <div class="col-4 border p-1">
        <div class="d-flex align-items-center justify-content-center w-100 vh-100">
            <div>
                <img src="public/images/logo.png" alt="logo">
                <h3 class="fw-bold" style="margin: 32px 0">Welcome, Admin BCR</h3>
                <form>
                    <div class="mb-3">
                        <label class="fw-light form-label">Email</label>
                        <input type="email" class="form-control" placeholder="Contoh: johndee@gmail.com"
                               style="border: 1px solid rgba(0, 0, 0, 0.1);">
                    </div>
                    <div class="mb-4">
                        <label class="fw-light form-label">Password</label>
                        <input type="password" class="form-control" placeholder="6+ karakter"
                               style="border: 1px solid rgba(0, 0, 0, 0.1);">
                    </div>
                    <a href="/home">
                        <div class="d-grid">
                            <button class="btn btn-primary" style="background-color: #0D28A6; border-radius: 2px"
                                    type="button">Sign In
                            </button>
                        </div>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>