<html>
<head>
    <%- include("partials/head"); %>
    <title>Binar Car Rental - Add New Car</title>
</head>
<body>
<div class="m-3">
    <nav style="--bs-breadcrumb-divider: '/'" aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item fw-bold">Cars</li>
            <li class="breadcrumb-item fw-bold">List Cars</li>
            <li class="breadcrumb-item active fw-light" aria-current="page">Add New Car</li>
        </ol>
    </nav>
    <h3 class="fw-bold mt-4 mb-4">Add New Car</h3>
    <%- include("partials/newCarForm"); %>
    <footer class="footer mt-5">
        <button type="button" class="btn-custom" style="margin-right: 10px">Cancel</button>
        <a href="/cars"><button type="button" class="btn-custom-save">Save</button></a>
    </footer>
</div>
</body>
</html>