body {
    font-family: 'Helvetica', sans-serif;
    background-color: #E5E5E5 !important;
}

a {
    color: #00B7FF;
}

.text-center {
    text-align: center !important;
}

.content {
    margin-top: 11px;
}

table {
    font-family: 'Helvetica', sans-serif;
    border: 1px;
    border-collapse: separate;
    border-spacing: 0 10em;
    margin-top: -10px; /* correct offset on first border spacing if desired */
}

tr {
    line-height: 44px;
    min-height: 44px;
    height: 44px;
}

td {
    border: solid 1px #000;
    border-style: solid none;
    padding: 10px;
    background-color: cyan;
}

td:first-child {
    border-left-style: solid;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

th:first-child {
    border-left-style: solid;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

th:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

tr.spaceUnder > td {
    margin-bottom: 1em;
}

.drop .form-select {
    width: 70px;
    height: 36px;
    font-size: 12px;
}

.jtp .form-select {
    width: 70px;
    height: 36px;
    font-size: 12px;
}

.paging nav {
    display: flex;
    justify-content: flex-end;
}

a.page-link {
    height: 38px;
    width: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #8A8A8A;
}

.page-item.active .page-link {
    background: #CFD4ED !important;
    color: #0D28A6 !important;
    border-color: #0D28A6 !important;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination > li > a, .pagination > li > span {
    border-radius: 2px !important;
}

.form-select {
    display: inline;
}

.btn.btn-outline-primary {
    border: 1px solid #aeb7e1;
    color: #aeb7e1;
    border-radius: 0;
    font-weight: bold;
    background-color: white;
    margin-right: 16px;
}

.btn.btn-outline-primary:hover {
    color: #0d28a6;
    background-color: #cfd4ed;
}

.btn.btn-outline-secondary {
    border: 1px solid #aeb7e1;
    color: #0d28a6;
    background-color: #cfd4ed;
    border-radius: 0;
    font-weight: bold;
    margin-right: 16px;
}

.btn.btn-outline-secondary:hover {
    color: #0d28a6;
    background-color: #cfd4ed;
}


.card-car {
    background-color: white;
    width: 100%;
    margin-top: 32px;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    padding: 8px;
    box-sizing: border-box;
}

.card-car .card-body h6 {
    margin-bottom: 1rem;
}

.card-car .card-body .btn-group button img {
    padding: 0 7px;
}

.card-car .card-body p.card-text img {
    padding-right: 9.5px;
}

.btn.btn-danger {
    height: 48px;
    background-color: white;
    border-radius: 2px !important;
    color: red;
    font-weight: 700;
}

.btn.btn-danger:hover {
    background-color: white;
    color: red;
}

.btn.btn-success {
    height: 48px;
    border-radius: 2px !important;
    background-color: #5cb85f;
    color: white;
    font-weight: 700;
}

.btn.btn.btn-success:hover {
    background-color: #5cb85f;
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8A8A8A !important;
    font-weight: 300 !important;
}

.btn-custom {
    padding: 8px 12px;
    background: #ffffff;
    border: 1px solid #0d28a6;
    box-sizing: border-box;
    border-radius: 2px;
    color: #0d28a6;
    font-size: 14px;
    font-weight: 700;
    justify-content: end;
}

.btn-custom-save {
    padding: 8px 12px;
    background: #0d28a6;
    border: 1px solid #0d28a6;
    box-sizing: border-box;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    justify-content: end;
}


/* CONTENT SECTION BEGIN */
.content-section {
    margin-left: 50px;
    margin-top: 70px;
}

/* CONTENT SECTION END */


/* NAVBAR SECTION BEGIN */
.navbar-section {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.navbar {
    background-color: white;
    height: 70px;
    width: 100vw;
}

/* NAVBAR SECTION END */


/* SIDEBAR SECTION BEGIN */
/*.sidebar-section {*/
/*    float: left;*/
/*    z-index: 2;*/
/*}*/

.collapseSidebar {
    display: none;
}

.main-menu {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #0D28A6;
    width: 70px;
    height: 100vh;
    color: white !important;
    font-size: 12px;
}

.main-menu a,
.main-menu a:hover {
    color: white !important;
    text-decoration: none;
}

.box {
    height: 70px;
}

.box:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.side-icon {
    width: 30px;
}

.menu-list {
    position: fixed;
    top: 70px;
    left: 70px;
    width: 220px;
    height: 100vh;
    background-color: white;
}

.list-menu {
    font-weight: 700;
    padding: 12px 18px;
}

.list-menu:hover {
    background-color: #CFD4ED;
}

.menu-list a {
    color: black;
    text-decoration: none;
}

/* SIDEBAR SECTION END */


/* ----------------------------------------------------- */
/* ------------ CSS CONTENT START FROM HERE ------------ */
/* ----------------------------------------------------- */


/* ADD NEW CAR BEGIN */
.sub-tree i {
    position: relative;
    top: 5px;
}

a:hover {
    color: blue !important;
}

.sub-tree a {
    color: black;
    text-decoration: inherit;
}

.icon {
    background-size: 20px;
    background-origin: content-box, padding-box;
    cursor: pointer;
}

.btn-decision {
    /* position: relative;
    bottom: -80px; */
    margin-top: 100px;
}

.btn-cancel,
.btn-save {
    padding: 8px 12px;
    border: 2px #0D28A6 solid;
    color: #0D28A6;
    font-weight: 700;
}

.btn-cancel:hover,
.btn-save:hover {
    padding: 8px 12px;
    background: #0D28A6;
    color: white;
    font-weight: 700;
}

/* ADD NEW CAR END */

.car-image {
    object-fit: cover;
    width: 100%;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

@media only screen and (min-width: 1024px) {
    .sidebar-second {
        width: 180px;
    }
}

@media only screen and (min-width: 1440px) {
    .sidebar-second {
        width: 230px;
    }
}



